.game-box {
    background-color: yellow;
    width: 650px;
    height: 650px;
    margin: 0 auto;
}

.row {
    float: left;
    margin: 5px 0px;
}

.no-touchable-box {
    border: 1px dotted red;
    width: 200px;
    height: 200px;
    margin: 5px;
    cursor: not-allowed;
}

.touchable-box {
    cursor: pointer;
}

.instuctions-box {
    border: 3px dashed black;
    cursor: default;
}

.instuctions-box button {
    border: 1px solid silver;
    background-color: white;
    width: 200px;
    height: 100px;
    font-weight: bold;
}
.instuctions-box button:disabled {
    background-color: silver;
}
